:root {
  --bg-light: #f8f8f8;
  --text-light: #333;
  --accent: #cc0000;
  --bg-dark: #121212;
  --text-dark: #e0e0e0;
}

html,
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg-light);
  color: var(--text-light);
  margin: 0;
  padding: 0px;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
}

main {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100%;
  flex: 1;
  justify-content: center; */
}

h1,
h2,
h3 {
  color: var(--accent);
}

.title {
  padding-left: 5%;
}

.navBar {
  padding-right: 5%;
}

header {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  align-items: baseline;
  z-index: 10;
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

nav li {
  margin: 0.5rem 0;
}

/* Links */

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Light/Dark mode */

html.dark-mode body {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

html.dark-mode a {
  color: #87afcb;
}

.toggle-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: none;
  border: 2px solid var(--accent);
  color: var(--accent);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

/* Footer */
.footer {
  display: flex;
  border-top: 2px solid;
  padding: 0px;
  width: 100%;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 20px;
}